In [7]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [8]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Rikitea,-23.1203,-134.9692,72.30,66,98,12.68,PF,2022-11-19 02:52:54
1,1,Hilo,19.7297,-155.0900,79.25,94,22,4.88,US,2022-11-19 02:53:52
2,2,Kapaa,22.0752,-159.3190,79.12,79,32,4.00,US,2022-11-19 02:53:52
3,3,Castro,-24.7911,-50.0119,51.30,92,0,6.17,BR,2022-11-19 02:53:53
4,4,Comodoro Rivadavia,-45.8667,-67.5000,67.86,26,0,20.71,AR,2022-11-19 02:53:53

In [9]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [10]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# General Syntax

# 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

SyntaxError: invalid syntax (2411414446.py, line 6)

In [13]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent Cloudiness

locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent Wind Speed

locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Hilo,19.7297,-155.0900,79.25,94,22,4.88,US,2022-11-19 02:53:52
2,2,Kapaa,22.0752,-159.3190,79.12,79,32,4.00,US,2022-11-19 02:53:52
5,5,Bengkulu,-3.8004,102.2655,81.57,73,100,9.69,ID,2022-11-19 02:49:21
16,16,Avarua,-21.2078,-159.7750,78.85,65,20,9.22,CK,2022-11-19 02:53:56
17,17,Georgetown,5.4112,100.3354,85.93,83,20,8.05,MY,2022-11-19 02:53:44
18,18,Karratha,-20.7377,116.8463,84.74,24,97,4.16,AU,2022-11-19 02:53:56
19,19,Hithadhoo,-0.6000,73.0833,81.23,75,78,12.15,MV,2022-11-19 02:53:57
22,22,Sapele,5.8941,5.6767,75.74,89,54,2.46,NG,2022-11-19 02:53:58
27,27,Victoria,22.2855,114.1577,83.97,72,48,4.00,HK,2022-11-19 02:53:40
31,31,Padang,-0.9492,100.3543,80.65,74,100,3.33,ID,2022-11-19 02:52:02

In [19]:
preferred_cities_df.count()

City_ID       138
City          138
Lat           138
Lng           138
Max Temp      138
Humidity      138
Cloudiness    138
Wind Speed    138
Country       138
Date          138
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1         Hilo      US     79.25  19.7297 -155.0900
2        Kapaa      US     79.12  22.0752 -159.3190
5     Bengkulu      ID     81.57  -3.8004  102.2655
16      Avarua      CK     78.85 -21.2078 -159.7750
17  Georgetown      MY     85.93   5.4112  100.3354
18    Karratha      AU     84.74 -20.7377  116.8463
19   Hithadhoo      MV     81.23  -0.6000   73.0833
22      Sapele      NG     75.74   5.8941    5.6767
27    Victoria      HK     83.97  22.2855  114.1577
31      Padang      ID     80.65  -0.9492  100.3543

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [30]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Hilo,US,79.25,19.7297,-155.0900,Hilo Hawaiian Hotel
2,Kapaa,US,79.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
5,Bengkulu,ID,81.57,-3.8004,102.2655,Grage Hotel Bengkulu
16,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
17,Georgetown,MY,85.93,5.4112,100.3354,Cititel Penang
...,...,...,...,...,...,...
514,Hukuntsi,BW,80.60,-24.0000,21.7500,Its me guest house
527,Lasem,ID,82.24,-6.6922,111.4527,"Nyah Lasem | Museum, Warung & Community Center"
531,Road Town,VG,80.69,18.4167,-64.6167,"ZINGARA 76ft Catamaran, full crew-all included"
535,Bahia Honda,CU,75.54,22.9036,-83.1592,Casa Gualberto - Deysi
540,Moron,AR,78.96,-34.6534,-58.6198,Hotel Morón

In [33]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))